* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    margin-bottom: 0;
    color: #333;
    font-family: "Manrope", sans-serif;
}
p {
    margin: 0;
}

.top-head {
    background: #E4F4CF;
    padding: 10px 0;

}

.top-head-field {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-head-time {
    position: relative;
    font-size: 14px;
    padding-left: 20px;
    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 10px;
        height: 10px;
        margin: auto;
        background: #56BA28;
        border-radius: 100000px;
    }
}
.top-head-links {
    display: flex;
    a {
        font-size: 14px;
        text-decoration: none;
        color: #333;
        cursor: pointer;
        img {
            margin-left: 10px;
            width: 30px;
        }
        &:nth-child(1) {
            margin-right: 40px;
        }
    }
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.search {
    background: url('../images/search-icon.svg') center center / contain no-repeat;
    width: 20px;
    height: 20px;
    top: 5px;
    position: relative;
    margin: 0 20px;
    display: inline-block;
}

.logo {
    background: #a7e15c;
    width: 176px;
    height: 56px;
    border-radius: 10px;
}
.header-links {
    a {
        text-decoration: none;
        color: #333;
        font-size: 14px;
        margin: 0 20px;
    }
}
.header-call {
    display: flex;
    min-width: 500px;
    align-items: center;
    justify-content: flex-end;
}
.header-call-phone {
    font-size: 26px;
    margin-right: 20px;
    font-weight: 700;
    text-decoration: none;
    color: #333;
}
.header-call-button {
    background: #6CA715;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    max-width: 190px;
    width: 100%;
    height: 44px;
    text-align: center;
    display: flex;
    padding-right: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    font-weight: 400;
    position: relative;
    &::before {
        content: "";
        position: absolute;
        background: url('../images/right-arr.svg') center  center / contain no-repeat;
        right: 5px;
        top: 0;
        bottom: 0;
        margin: auto;
        padding: 16px;
    }
}
.breadcrumb-nav {
    margin: 20px 0;
}
.breadcrumb-item+.breadcrumb-item::before {
    content: '-';
}
.breadcrumb-item {
    a {
        text-decoration: none;
        color: #333;
    }
}
.breadcrumb-item.active {
    color: #6F6F6F;
}
h1 {
    font-size: 56px;
    font-weight: 700;
}


// Filter

.filter {
    display: flex;
    justify-content: space-between;
    margin: 40px 0;
}

.filter-show {
    border: 1px solid #333;
    position: relative;
    padding: 10px 20px;
    cursor: pointer;
    padding-left: 50px;
    font-size: 16px;
    transition: .2s;
    font-weight: 600;
    border-radius: 6px;
    &::before {
        content: "";
        position: absolute;
        background: url('../images/filter.svg') center center / contain no-repeat;
        padding: 10px;
        left: 20px;
        top: 0;
        transition: .2s;
        bottom: 0;
        margin: auto;
    }
    span {
        transition: .2s;
        position: relative;
        right: 0;
    }
    &:hover {
        background: #333;
        &::before {
            opacity: 0;
        }
        span {
            right: 12px;
            color: #fff;
        }
    }
}

.filter-dropdown {
    color: #333;

    select {
        font-size: 16px;
        font-weight: 600;
        padding: 0 20px;
        outline: none;
        background: #fff;
    }
}

.catalog-item {
    background: #F1F1F1;
    border-radius: 12px;
    position: relative;

    .catalog-item-image {
        width: 100%;
        object-fit: cover;
    }
    .catalog-item-info {
        padding: 20px;

    }
    .catalog-item-name {
        font-size: 26px;
        font-weight: 700;
    }
    .catalog-item-price {
        font-size: 12px;
        p {
            
            display: flex;
            align-items: center;
        }
        span {
            font-size: 24px;
            margin: 0 10px;
            font-weight: 600;
        }
    }
    .catalog-item-price-check {
        font-size: 12px;
        cursor: pointer;
        font-weight: 500;
        text-align: center;
        position: relative;
        padding-right: 10px;
        &::before {
            content: "";
            position: absolute;
            background: url('../images/price-check-arr.svg') center center / contain no-repeat;
            padding: 8px;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
        }
    }
    .catalog-item-calculator {
        display: flex;
        cursor: pointer;
        justify-content: flex-end;
        font-size: 12px;
        font-weight: 500;
        img {
            margin-left: 10px;
        }
    }
}



.catalog-item-tags {
    position: absolute;
    z-index: 1;
    top: 15px;
    left: 15px;
}
.catalog-item-tag {
    border-radius: 6px;
    color: #fff;
    font-weight: 600;
    padding: 3px 10px;
    font-size: 10px;
    &.hit {
        background: #32CD32CC;
    }
    &.new {
        background: #7211D299;
    }
}
.form-block {
    background: blue;
    height: calc(100% * 2 + 16px); /* Высота двух элементов каталога плюс отступ */
}

.calculator-form {
    background: url('../images/calc-bg.jpg') center center / cover no-repeat;
    border-radius: 10px;
    overflow: hidden;
    height: 100%;
    .calculator-form-gradient {
        height: 100%;
        background: rgba(108, 167, 21, 0.5);
        background: linear-gradient(to top, #000000, rgba(108, 167, 21, 0.5));
        padding: 40px;
    }
    .calculator-form-title {
        font-size: 34px;
        font-weight: 700;
        padding-right:40px;
        color: #fff;   
        position: relative;
        &::before {
            content: "";
            position: absolute;
            background: url('../images/calc-form-icon.svg') center center / contain no-repeat;
            padding: 50px;
            right: 40px;
            top: 0;
            bottom: 0;
            margin: auto;
        }
    }
    p {
        font-size: 24px;
        font-weight: 200;
        color: #fff;
        margin: 50px 0;
        &.cashback {

            font-size: 20px;
            font-weight: 700;
            color: #fff;
        }
    }
}
.calculator-form-submit {
    background: #FFFFFF24;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    max-width: 260px;
    width: 100%;
    border-radius: 6px;
    height: 47px;
    margin: 0 20px;
    margin-top: 30px;
    position: relative;
    text-align: left;
    padding: 0 20px;
    &::before {
        content: "";
        position: absolute;
        background: url('../images/bi_arrow-right-short2.svg') center center / contain no-repeat;
        padding: 10px;
        right: 20px;
        top: 0;
        bottom: 0;
        margin: auto;
    }
}
.calculator-form-input {
    border: 1px solid #FFFFFF69;
    border-radius: 6px;
    position: relative;
    padding: 10px;
    padding-top: 20px;
    backdrop-filter: blur(3px);
    margin-bottom: 20px;
    label {
        position: absolute;
        color: #CCCBCB;
        font-size: 12px;
        font-weight: 200;
        left: 20px;
        top: 10px;
    }
    input, textarea {
        color: #fff;
        padding: 15px 10px 5px 10px;
        font-size: 16px;
        outline: none;
        width: 100%;
        font-weight: 500;
        background: transparent;
    }
    textarea {
        min-height: 120px;
        max-height: 200px;
    }
}

.file-input-container {
    position: relative;
    display: inline-block;
}

.file-input-label {
    display: flex;
    color: #fff;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px dashed #CCCBCB;
    cursor: pointer;
}

.file-input-label span {
    margin-right: 10px;
    color: #CCCBCB;
    font-size: 12px;
    font-weight: 200;
}

.file-input-label svg {
    width: 20px;
    height: 20px;
}

.file-input {
    display: none;
}

.catalog-pagination {
    display: flex;
    align-items: center;
    .catalog-pagination-prev {
        background: url('../images/pagination-arr.svg') center center / contain no-repeat;
        padding: 10px;
        margin-right: 20px;
        transform: rotate(180deg);
        opacity: 0.2;
    }
    .catalog-pagination-next {
        background: url('../images/pagination-arr.svg') center center / contain no-repeat;
        padding: 10px;
        margin-left: 20px;
    }
    .catalog-pagination-page {
        font-size: 16px;
        font-weight: 700;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 0 20px;
        text-decoration: none;
        color: #333;
        &.current {
            background: #6CA715; 
            width: 40px;
            height: 40px;
            margin-right: 10px;
            border-radius: 6px;
            color: #fff;
        }
    }
}

h2 {
    color: #5A5A5A;
    font-size: 40px;
    font-weight: 700;
    span {
        color: #2D262C;
    }
}
.info-field {
    p {
        font-size: 16px;
        line-height: 28px;
        font-weight: 400;
        strong {
            font-weight: 700;
            font-size: 18px;
        }
    }
}
.green-field {
    background: #CBEE66;
    border-radius: 12px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    button {
        background: #fff;
        font-size: 16px;
        font-weight: 700;
        border-radius: 6px;
        padding: 15px 30px;
        padding-right: 50px;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            background: url('../images/bi_arrow-right-short.svg') center center / contain no-repeat;
            width: 20px;
            height: 20px;
            right: 20px;
            top: 0;
            transition: .2s;
            bottom: 0;
            margin: auto;
        }
        &:hover {
            &::before {
                right: 15px;
            }
        }
    }
    p {
        font-size: 18px;
        font-weight: 400;
        line-height: 32px;
    }
}

footer {

    .footer-top {
        display: flex;
        justify-content: space-between;
        text-align: center;
    }
    .footer-top-call {
        p {
            font-weight: 700;
            font-size: 18px;
        }
        span {
            font-size: 14px;
        }
    }
    .footer-top-time {
        font-size: 14px;
    }
    .logo {
        background: #D9D9D9;
        width: 176px;
        height: 56px;
        border-radius: 10px;
    }
    .footer-menu {
        p {
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 700;
            margin-bottom: 30px;
        }
        a {
            display: block;
            color: #333;
            font-size: 14px;
            font-weight: 400;
            text-decoration: none;
            position: relative;
            padding-left: 20px;
            margin-bottom: 10px;
            &::before {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                margin: auto;
                width: 4px;
                background: #333;
                height: 4px;
                border-radius: 1000px;
            }
        }
    }
}

.footer-bottom {
    margin: 40px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .footer-copyright {
        font-weight: 400;
        font-size: 14px;
    }
    .footer-powered {
        font-size: 14px;
        font-weight: 400;
        text-align: right;
    }
    .footer-socials {
        a {
            margin: 0 5px;
            padding: 15px;
            &.whatsapp {
                background: url('../images/whatsapp.svg') center center / contain no-repeat;
            }
            &.youtube {
                background: url('../images/youtube.svg') center center / contain no-repeat;
            }
            &.tg {
                background: url('../images/tg.svg') center center / contain no-repeat;
            }
            &.vk {
                background: url('../images/vk.svg') center center / contain no-repeat;
            }
        }
    }
}

.mobile-menu-links {
    display: none;
}